[user]
	name = Leandro Pedroso
	email = leandroppf@gmail.com

[init]
	defaultBranch = main

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = zebra

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
